body{
    background-color: rgb(255, 255, 255);
}
.full{
    max-width: 700px;
    min-width: 430px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
h6{
    border-bottom: 1px solid rgb(76, 204, 89) ;
}
p{
    margin: 0;  
}
.question{
    font-size: small;
    padding-bottom: 5px;
}
.answer{
    font-size: small;
    font-weight: bold;
    padding-bottom: 5px;
}
.button.block{
    display: block;
}
.center{
    text-align: center;
}
